name: Update data
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  fetch-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Fetch
        run: |
          mkdir -p data
          curl "https://mapsengine.google.com/map/kml?mid=1wSGRzmK0rwrPnqdQAtz0p5h_NvKCjgY" | funzip > data/map.kml
      - name: Install dependencies
        run: pip install -r scripts/requirements.txt
      - name: Download and replace images
        run: ./scripts/download-images.py
      - name: Convert to geojson
        run: |
          npm install -g @mapbox/togeojson
          togeojson data/map.kml > data/map.geojson
      - name: Convert to json for website
        run: ./scripts/convert-to-json.py
      - name: Download additional data (Place IDs)
        run: ./scripts/download-additional-data.py
        continue-on-error: true
      - name: Generate RSS feed
        run: ./scripts/generate-rss.py
      - name: Commit
        run: |
          git add data src
          git config --global user.email "infrastructureclub-travel-guide@jonty.co.uk"
          git config --global user.name "Travel Guide Update Bot"
          git commit -m "Automatic data update" || true
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
      - name: Trigger Publish Workflow
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.repos.createDispatchEvent({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event_type: 'publish-trigger',
            });
